{% extends 'base.html.twig' %}

{% block title %}AddressBook{% endblock %}

{% block body %}
    <h1>Welcome to AddressBook</h1>
{% endblock %}


{% block stylesheets %}
    <!--<style>
        body {
            background: beige;
        }
    </style>-->
{% endblock %}